.parentForm {
    position: relative;
}

.formInput {
    background-color: #393E46;
    padding: 0px;
    width: 500px;
    height: 50px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #EEEEEE;
    border: none;
    outline: none;
}

.formButton {
    position: absolute;
    right: 16px;
    top: 9px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #EEEEEE;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #393E46;
    font-weight: 500;
    font-size: 17px;
}

.childForm {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #00ADB5;
    background-color: #393E46;
    width: 640px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}

.task {
    background-color: red;
    margin: auto;
    width: 660px;
    height: 60px;
    margin-top: 20px;
}